# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. If you have not done so already, download the full dataset on [Kaggle](https://www.kaggle.com/usda/a-year-of-pumpkin-prices). When you open it up, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [20]:
# Import the necessary libraries and CSVs. Make some dataframes!

import pandas as pd
import numpy as np

baltimore_df = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston_df = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
newyork_df = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philly_df = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

# print(baltimore_df.head())
# print(boston_df.head())
# print(newyork_df.head())
# print(philly_df.head())

print(baltimore_df.info())
print(boston_df.info())
print(newyork_df.info())
print(philly_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   153 non-null    object
 1   City Name        153 non-null    object
 2   Type             0 non-null      float64
 3   Package          153 non-null    object
 4   Variety          151 non-null    object
 5   Sub Variety      25 non-null     object
 6   Grade            0 non-null      float64
 7   Date             153 non-null    object
 8   Low Price        153 non-null    int64
 9   High Price       153 non-null    float64
 10  Mostly Low       153 non-null    int64
 11  Mostly High      153 non-null    float64
 12  Origin           148 non-null    object
 13  Origin District  0 non-null      float64
 14  Item Size        128 non-null    object
 15  Color            31 non-null     object
 16  Environment      0 non-null      float64
 17  Unit of Sale     24 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           153 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(12), int64(2), object(11)
memory usage: 30.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   352 non-null    object
 1   City Name        352 non-null    object
 2   Type             0 non-null      float64
 3   Package          352 non-null    object
 4   Variety          352 non-null    object
 5   Sub Variety      28 non-null     object
 6   Grade            0 non-null      float64
 7   Date             352 non-null    object
 8   Low Price        352 non-null    int64
 9   High Price       352 non-null    int64
 10  Mostly Low       352 non-null    int64
 11  Mostly High      352 non-null    int64
 12  Origin           352 non-null    object
 13  Origin District  66 non-null     object
 14  Item Size        348 non-null    object
 15  Color            304 non-null    object
 16  Environment      0 non-null      float64
 17  Unit of Sale     46 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           352 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(9), int64(4), object(12)
memory usage: 68.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   112 non-null    object
 1   City Name        112 non-null    object
 2   Type             0 non-null      float64
 3   Package          112 non-null    object
 4   Variety          112 non-null    object
 5   Sub Variety      18 non-null     object
 6   Grade            0 non-null      float64
 7   Date             112 non-null    object
 8   Low Price        112 non-null    int64
 9   High Price       112 non-null    int64
 10  Mostly Low       112 non-null    int64
 11  Mostly High      112 non-null    int64
 12  Origin           112 non-null    object
 13  Origin District  15 non-null     object
 14  Item Size        104 non-null    object
 15  Color            21 non-null     object
 16  Environment      0 non-null      float64
 17  Unit of Sale     25 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           112 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(9), int64(4), object(12)
memory usage: 22.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   57 non-null     object
 1   City Name        57 non-null     object
 2   Type             0 non-null      float64
 3   Package          57 non-null     object
 4   Variety          57 non-null     object
 5   Sub Variety      12 non-null     object
 6   Grade            0 non-null      float64
 7   Date             57 non-null     object
 8   Low Price        57 non-null     int64
 9   High Price       57 non-null     int64
 10  Mostly Low       57 non-null     int64
 11  Mostly High      57 non-null     int64
 12  Origin           57 non-null     object
 13  Origin District  0 non-null      float64
 14  Item Size        45 non-null     object
 15  Color            0 non-null      float64
 16  Environment      0 non-null      float64
 17  Unit of Sale     11 non-null     object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           57 non-null     object
 24  Trans Mode       0 non-null      float64
dtypes: float64(11), int64(4), object(10)
memory usage: 11.3+ KB
None

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [21]:
# Clean your data here!

# This part can be somewhat subjective. 
# Some students may want to drop some columns that are not needed. Some students may replace missing values in key columns.

boston_df["Variety"] = boston_df["Variety"].replace({"NaN":"UNKNOWN"})
boston_df.head(25)

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
5,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
6,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,140,160,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
7,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,140,160,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
8,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,140,160,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
9,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,200,225,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
10,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,180,225,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
11,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,180,225,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
12,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,180,225,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
13,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,180,225,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
14,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,180,225,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
15,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,170,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
16,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,170,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
17,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,140,160,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
18,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,140,160,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
19,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
20,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
21,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
22,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
23,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
24,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [22]:
# Combine the four dataframes into one!

northeast_df = baltimore_df.append([boston_df, newyork_df, philly_df])
print(northeast_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 674 entries, 0 to 56
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Commodity Name   674 non-null    object
 1   City Name        674 non-null    object
 2   Type             0 non-null      float64
 3   Package          674 non-null    object
 4   Variety          672 non-null    object
 5   Sub Variety      83 non-null     object
 6   Grade            0 non-null      float64
 7   Date             674 non-null    object
 8   Low Price        674 non-null    int64
 9   High Price       674 non-null    float64
 10  Mostly Low       674 non-null    int64
 11  Mostly High      674 non-null    float64
 12  Origin           669 non-null    object
 13  Origin District  81 non-null     object
 14  Item Size        625 non-null    object
 15  Color            356 non-null    object
 16  Environment      0 non-null      float64
 17  Unit of Sale     106 non-null    object
 18  Quality          0 non-null      float64
 19  Condition        0 non-null      float64
 20  Appearance       0 non-null      float64
 21  Storage          0 non-null      float64
 22  Crop             0 non-null      float64
 23  Repack           674 non-null    object
 24  Trans Mode       0 non-null      float64
dtypes: float64(11), int64(2), object(12)
memory usage: 136.9+ KB
None

## Answer Some Questions

Use groupby and agg to answer the following two questions:

1. How many entries were sold for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [41]:
# Put your code here to find how many sales there were in the Northeast region for each type of unit of sale.

unit_group = northeast_df.groupby("Unit of Sale")
print(unit_group.agg("mean"))

              Type  Grade   Low Price  High Price  Mostly Low  Mostly High  \
Unit of Sale
EACH           NaN    NaN   47.916667   59.166667   47.916667    59.166667
PER BIN        NaN    NaN  185.845070  206.619718  193.521127   204.859155
SHELLACKED     NaN    NaN   16.000000   17.545455   16.000000    17.545455

              Environment  Quality  Condition  Appearance  Storage  Crop  \
Unit of Sale
EACH                  NaN      NaN        NaN         NaN      NaN   NaN
PER BIN               NaN      NaN        NaN         NaN      NaN   NaN
SHELLACKED            NaN      NaN        NaN         NaN      NaN   NaN

              Trans Mode
Unit of Sale
EACH                 NaN
PER BIN              NaN
SHELLACKED           NaN

In [39]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

city_group = northeast_df.groupby("City Name")
print(city_group["Variety"].value_counts())

City Name     Variety
BALTIMORE     MINIATURE                    30
              PIE TYPE                     26
              CINDERELLA                   25
              HOWDEN TYPE                  25
              BIG MACK TYPE                24
              FAIRYTALE                    16
              MIXED HEIRLOOM VARIETIES      3
              HOWDEN WHITE TYPE             2
BOSTON        HOWDEN TYPE                 132
              PIE TYPE                    114
              BIG MACK TYPE                29
              MINIATURE                    28
              FAIRYTALE                    21
              CINDERELLA                   14
              BLUE TYPE                     7
              KNUCKLE HEAD                  7
NEW YORK      PIE TYPE                     42
              HOWDEN TYPE                  39
              MINIATURE                    27
              BIG MACK TYPE                 2
              KNUCKLE HEAD                  1
              MIXED HEIRLOOM VARIETIES      1
PHILADELPHIA  HOWDEN TYPE                  28
              PIE TYPE                     16
              MINIATURE                    12
              KNUCKLE HEAD                  1
Name: Variety, dtype: int64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [25]:
# Try the bonus mission if you have time!